<style>
  *{
    text-decoration: none;
    font-family: Consolas;
    box-sizing: border-box;
  }
  body{
    background-color: #131626;
  }
  .div1{
    width: 60%;
    margin: 0 auto;
  }
  .form{
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    background: #132B40;
    padding: 80px 40px;
    border-radius: 10px;
  }
  .text1, .button, .input-box{
    margin:10px;
  }  
  .input-box {
    font-size: 16px;
    color: #f5f5f5;
    border: 2px solid #131626;
    border-radius: 3px;
    outline: none;
    background: none;
    width: 100%;
    padding: 0 5px;
    height: 35px;
  }
  .button{
    width: 35%;
    display: block;
    height: 35px;
    border: none;
    outline: none;
    background-color: #A61C28;
    color: #f5f5f5;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
  }
  .title{
    color:#F27127;
    text-align: center;
    margin: 48px 0;
  }
  .deftext{
    color: #cccccc;
  }
  .video-name{
    color:#A61C28;
    font-size: 20px;
  }
  .download{
    color:#326773;
    font-size: 24px;
    font-weight: bold;
  }
  .warning-text{
    color: #A61C28;
    font-size: 24px;
  }
  
</style>