<!DOCTYPE html>
<html lang="en">
<head>
    
    
    {% include "includes/styles.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nurettin'in Sitesi</title>
</head>
<body>
    <div class="div1">
        {% include "includes/navbar.html" %}

        

    
    <div class="form">
        {% block body %}
   
        {% endblock  %}
    </div>

    </div>

    
</body>
</html>