{% extends "layout.html" %}
{% block body %}

    <div id="video_id" style="display:none">{{id}}</div>

    <h3 class="deftext top">Videonuz hazır</h3>

    <h1 class="video-name">Video Adı: {{title}}</h1>

    <a class="download" href="javascript:DownloadAndRedirect()">Bas ve İndir</a>


<script type="text/javascript">
    //Dosyayı indirip ana sayfaya yönleridiyor.
    const id = document.getElementById("video_id").textContent;
    function DownloadAndRedirect()
    {
        var DownloadURL = "/file/"+id;
        var RedirectURL = "/";
        var RedirectPauseSeconds = 9;
        location.href = DownloadURL;
        setTimeout("DoTheRedirect('"+RedirectURL+"')",parseInt(RedirectPauseSeconds*1000));
    }
    function DoTheRedirect(url) { window.location=url; }
</script>
    
{% endblock %}